@import url('https://fonts.googleapis.com/css?family=Dongle');

body {
    margin: 0;
    font-family: "Dongle", sans-serif;
    background-color: aliceblue;
}

hr {
    height: 2px;
    border-width: 0;
    color: darkslategray;
    background-color: darkslategray;
}
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: cadetblue;
    margin-bottom: 60px;
}

nav a {
    float: left;
    display: darkslategray;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover, .grid-container-subpages a:hover, .links a:hover {
    background-color: darkslategray;
    color: black;
}

nav a.active {
    background-color: darkslategray;
    color: aliceblue;
}

.title {
    width: 650px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 2px solid darkslategray;
}

.title img, .title div {
    vertical-align: middle;
    display: inline;
}

.title img {
    width: 100px;
}

.title div {
    font-size: 70px;
    padding-left: 120px;
}


.box {
    width: 1000px;
    height: 450px;
    padding: 20px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    border: 1px solid darkslategray;
    background: aliceblue;
}

.grid-container {
    display: grid;
    margin: auto;
    font-size: 20px;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 15px;
    margin-bottom: 60px;
}

.grid-container img {
    width: 100%;
    height: 100%;
}

li {
    margin: 10px 0;
}

.item1 {
    grid-area: 1 / 1 / span 2 / span 3;
    padding: 20px;
}

.item1, .item2, .item3 {
    background-color: aliceblue;
    border: 1px solid darkslategray;
}

footer {
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 20px;
}

.links {
    justify-content: center;
    display: flex;
}

.links a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
