@import url('https://fonts.googleapis.com/css?family=Dongle');

body {
    margin: 0;
    font-family: "Dongle", sans-serif;
    background-color: aliceblue;
}

hr {
    height: 2px;
    border-width: 0;
    color: darkslategray;
    background-color: darkslategray;
}
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: cadetblue;
    margin-bottom: 60px;
}

nav a {
    float: left;
    display: darkslategray;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover, .grid-container-subpages a:hover, .links a:hover {
    background-color: darkslategray;
    color: black;
}

nav a.active {
    background-color: darkslategray;
    color: aliceblue;
}

.title {
    width: 650px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 2px solid darkslategray;
}

.title img, .title div {
    vertical-align: middle;
    display: inline;
}

.title img {
    width: 100px;
}

.title div {
    font-size: 70px;
    padding-left: 120px;
}

.video {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 650px;
    font-size: 25px;
    text-align: center;
    border: 2px solid darkslategray;
}

.video div {
    padding: 10px;
}

.grid-container-subpages {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-subpage {
    text-align: center;
    border: 2px solid darkslategray;
}

.grid-subpage div {
    font-size: 25px;
}

.grid-container-subpages img {
    height: 82%;
    width: 100%;
}

footer {
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 20px;
}

.links {
    justify-content: center;
    display: flex;
}

.links a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li {
    margin: 10px 0;
}
